{{extend 'layout.html'}}
<body background={{=URL('static', 'images', args='background.jpg')}}>
<div class="row" style="vertical-align: middle; padding-top: 10%">
    <div id="web2py_user_form" class="col-lg-4" style="background-color:transparent; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
        <font color="white">
            <h2>
            {{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
            </h2>
            {{=form}}
            {{if request.args(0)=='login' and not 'register' in auth.settings.actions_disabled:}}
            <a href="{{=URL('user/register')}}" style="color: white">{{=T('Register')}}</a>
            <br/>
            {{pass}}
            {{if request.args(0)=='login' and not 'retrieve_password' in auth.settings.actions_disabled:}}
            <a href="{{=URL('user/retrieve_password')}}" style="color: white">{{=T('Lost your password?')}}</a>
            {{pass}}
            {{if request.args(0)=='register':}}
            <a href="{{=URL('user/login')}}" style="color: white"   >{{=T('Login')}}</a>
            {{pass}}
            <div class="row">
                <div class="col-sm-5"><img src={{=URL('static', 'images', args='ford.png')}} width="25%"></div>
                    <div class="col-sm-7" style="padding-left: 50%"><img src={{=URL('static', 'images', args='wipro.png')}} width="100%"></div>
            </div>
        </font>
    </div>
</div>

</body>




{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
