{{extend 'layout.html'}}
<div class="container col-md-9">
    <H1 style="font-family: Calibri; font-weight: bolder; padding-bottom: 10px">Team</H1>
    {{include 'project/add_team.html'}}
    {{if lead_btn == True and leads:}}
    {{include 'project/assign_lead.html'}}
    {{pass}}
    {{if manager_btn == True and managers:}}
    {{include 'project/assign_manager.html'}}
    {{pass}}
    {{if member_btn == True and members:}}
    {{include 'project/assign_member.html'}}
    {{pass}}
    {{=grid}}
</div>