{{extend 'layout.html'}}
<div class="jumbotron col-md-8" style="margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: 5%; border-radius:20px;">
  <h1 class="display-3" style="font-family: Calibri; font-weight: bolder;">Inventory Management Tool</h1>
  <p class="lead">{{=body}}</p>
  <hr class="my-4">
  <div class="row">
        <div class="card-deck" style="margin-left: auto; margin-right: auto">
            {{for users in user:}}
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header"><h3>{{=users.capitalize()}}</h3></div>
                    <div class="card-body">
                        <p class="card-text"><h5>{{=user_manual[users]}}</h5></p>
                    </div>
                </div>
            {{pass}}
        </div>
    </div>
</div>