{{extend 'layout.html'}}
<div class="container col-md-9" style="margin-top: 5%">
    {{if len(request.args) == 1:}}
    <div class="row">
        <div class="container-fluid">
            <div class="card-deck">
                {{for sub_page in card_properties:}}
                    <div class="{{=sub_page["card_style"]}}" style="border-radius:15px">
                        <div class="card-body">
                            <h1>{{=len(sub_page["count"].select())}}</h1>
                            <br>
                            <h4>{{=sub_page["header"]}}</h4>
                        </div>
                        <div class="card-footer">
                            <a href="{{=sub_page["url"]}}" class="card-body" style="color: white">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {{pass}}
            </div>
        </div>
    </div>
    {{pass}}
    {{if request.args(0) == "all":}}
    {{include 'asset/add_asset.html'}}
    {{include 'asset/change_assignee.html'}}
    {{include 'asset/edit_remarks.html'}}
    {{pass}}
    <H1 style="font-family: Calibri; font-weight: bolder; padding-bottom: 10px">Assets</H1>
    {{=grid}}
</div>